:root {
    --maincolor: #e9bb78;
    --othercolor: #9e9e9e;
    --maintransition: .5s;
    --section-padding: 50px 0;
    --section-background: #F6F6F6;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;

    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* Global */
.special-heading {
    text-align: center;
    font-size: 70px;
    color: #ebebeb;
    letter-spacing: -1px;
}

.special-heading+p {
    text-align: center;
    font-size: 20px;
    margin: -34px 0;
    color: #797980;
}

/* end global */

/* start header */

.header {
    padding: 15px;
    box-shadow: 0 0 10px 0px #b7b7b7;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* logo */
i:first-of-type {
    font-size: 50px;
    color: #e9bb78;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .links {
    position: relative;
    right: 20px;
}

.links .icon {
    width: 23px;
    height: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.links .icon:hover span:first-child {
    width: 100%;
}

.links .icon span {
    background-color: black;
    margin-bottom: 3px;
    transition: var(--maintransition);
}

.links .icon span:first-child {
    width: 41%;
}

.links .icon span:nth-child(2) {
    width: 60%;
}

.links .icon span:last-child {
    width: 100%;
}

.container .links ul {
    list-style: none;
    background-color: #eee;
    position: absolute;
    right: 0;
    width: 200px;
    top: calc(100% + 10px);
    display: none;
    z-index: 1;
}


.container .links ul::before {
    content: "";
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent #Eee transparent;
    position: absolute;
    top: -26px;
    right: 1px;
    right: 2px
}

.container .links ul li a {
    display: block;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
    transition: var(--maintransition);
}

.container .links ul li a:hover {
    padding-left: 25px;
    color: var(--maincolor);
}

.container .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.header .links:hover ul {
    display: block;
}

/* end header */

/* start landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
    position: relative;
}


.landing .intro-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 100%
}

.intro-text h1 {
    color: var(--maincolor);
    font-size: 40px;
}

.landing .intro-text p {
    color: #333;
    font-size: 20px;
    line-height: 1.7;
}

/* end landing */

/* start features */
.features {
    padding: 60px 0;
    background-color: #F6F6F6;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat h3 {
    margin: 20px 0;
}

.features .feat p {
    color: #777;
    line-height: 1.7;
    font-size: 17px
}

/* end features */

/* start Services */
.services {
    padding: 50px 0;
}


.services .srv-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;

}

.services .srv-cont .srv {
    display: flex;
    margin-bottom: 30px
}

@media (max-width:767px) {
    .services .srv-cont .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .srv-cont .srv i {
    flex-basis: 75px;
}

.services .srv-cont .srv .text {
    flex: 1;
}

.services .srv-cont .srv h3 {
    margin-bottom: 15px;
}

.services .srv-cont .srv p {
    color: #333;
    line-height: 1.7;
}

.srv-cont .image {
    text-align: center;
    position: relative;
}

.srv-cont .image::after {
    content: "";
    background-color: var(--maincolor);
    width: 100px;
    height: calc(100% + 20px);
    position: absolute;
    right: 0;
    top: -4%;
    z-index: -1;
}

.srv-cont .image img {
    width: 230px;
}

@media (max-width: 800px) {
    .col .image {
        display: none;
    }
}

/* end Services */

/* start Portfolio  */
.portfolio {
    padding: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .prt-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 100px;

}

.portfolio .prt-cont .card {
    background-color: white;
}

.portfolio .prt-cont .card img {
    max-width: 100%;
}

.portfolio .prt-cont .card .info {
    padding: 20px;
}

.prt-cont .card .info p {
    color: #777;
    line-height: 1.6;
}

/* end Portfolio  */

/* start about */

.about {
    padding: var(--section-padding);

}

.abt-cont {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .abt-cont {
        flex-direction: column;
        text-align: center;
    }
}

.abt-cont .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width:991px) {
    .abt-cont .image {
        margin: auto;
    }
}

.abt-cont .image::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 260px;
    border-left: 60px solid var(--maincolor);
    border-bottom: 36px solid var(--maincolor);
    z-index: -1;
    left: 212px;
    top: -55px
}

@media (max-width:991px) {
    .abt-cont .image::before {
        display: none;
    }

    .abt-cont .image img {
        max-width: 85%;
        display: flex;
        justify-content: center;
    }
}

.abt-cont .image img {
    max-width: 100%;
    position: absolute;
    top: -22px;
}

.abt-cont .text {
    flex: 1;
    padding-left: 200px;
    line-height: 2;

}

@media (max-width:991px) {
    .abt-cont .text {
        padding: 0;
    }

    .abt-cont .text hr {
        margin: auto;
    }
}

.abt-cont .text p:first-of-type {
    margin-bottom: 40px;
    font-weight: bold;

}

.abt-cont .text hr {
    width: 50%;

    border-color: var(--maincolor);
}

.abt-cont .text p:last-of-type {
    color: #777;
}

/* end about */

/* start contact  */
.contact {
    background-color: var(--section-background);
    padding: var(--section-padding);
}

.contact .info {
    margin-top: 100px;
    text-align: center;
}

.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--othercolor);
    letter-spacing: -1px;
    margin-bottom: 15px
}

.contact .info .link {
    display: block;
    text-decoration: none;
    color: var(--maincolor);
    font-size: 35px;
    font-weight: 800;
    transition: 1s;
}

.contact .info .link:hover {
    color: #cfa06c;
}

@media (max-width:767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}

.contact .info .social i {
    margin-left: 12px;
    color: #394e58;
    font-size: 25px;
}

/* end contact  */
.footer {
    background-color: #232c60;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 17px;
}

.footer span {
    font-weight: bold;
    color: var(--maincolor);
}

/* end footer */